@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: black;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.hero-section {
  text-align: center;
  margin-top: 120px;
}

.title {
  font-weight: bold;
  color: #303030;
}

.title--xl {
  font-size: 70px;
}

.title--lg {
  font-size: 48px;
}

.title--md {
  font-size: 24px;
}

.title--sm {
  font-size: 16px;
}

.subtext {
  font-size: 24px;
  font-weight: bold;
  color: #ababab;
}

.hero-section--images {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
}

.hero-section--images img {
  width: 284px;
  height: 400px;
  border-radius: 12px;
  object-fit: cover;
}

.hero-section--images--container{
  display: flex;
  gap: 20px;
}

/* End of hero-section */

.destination {
  margin: auto;
  margin-top: 240px;
  max-width: 1200px;
  display: flex;
  gap: 150px;
  justify-content: space-between;
}

.destination--steps {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.step {
  display: flex;
  align-items: center;
  gap: 16px;
  /* padding-bottom: 45px; */
}

.step--day {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #1d1f24;
  color: #16a94a;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
}

.step--day:hover {
  transform: scale(1.2);
  z-index: 2;
  background-color: #16a94a;
  color: #1d1f24;
}

.destination--subtext {
  font-size: 12px;
  font-weight: normal;
  color: #777777;
}
/* End of destination */

.pricing {
  max-width: 1200px;
  margin: auto;
  margin-top: 240px;
}

.pricing p,
h2 {
  text-align: center;
}

.pricing--cards {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  gap: 20px;
}

.card {
  box-sizing: border-box;
    padding: 40px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 3px solid transparent;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 285px;
  min-height: 370px;
  
}

.card:hover {
  border: 3px solid #16a94a;
  transform: scale(1.05);
}

.pricing--list {
  margin-top: 28px;
  color: #777777;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pricing--price {
  font-size: 32px;
  color: #303030;
  align-self: flex-end;
}

/* End of pricing */

.footer {
  margin-top: 240px;
}

a {
  text-decoration: none;
}

.footer--cta {
  background-color: #171717;
  padding: 150px 0px;
  color: #ffffff;
  text-align: center;
}

.footer--cta button {
  background-color: #16a94a;
  padding: 12px 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.footer--cta button:hover {
  background-color: #ffffff;
  color: #16a94a;
  transform: scale(1.05);
}

.footer--contact {
  background-color: #101010;
  padding: 80px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact--us {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact--us button {
  background-color: #303030;
  border: none;
  border-radius: 4px;
  padding: 11px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.contact--us button:hover {
  background-color: #16a94a;
  color: #ffffff;
  transform: scale(1.05);
}

/* End of footer */

@media screen and (min-width: 601px) and (max-width:1200px) {
    
  .title--xl{
      font-size: 48px;
    }

    .title--lg{
      font-size: 36px;
    }

    .subtext {
      font-size: 18px;
      text-align: center;
    }

    .hero-section--images{
      flex-wrap: wrap;
    }

    .hero-section--images img{
      height: 284px;
    }
    .hero-section--images--container{
      justify-content: center;
    }
    .destination--steps{
      gap: 20px;
    }
    .destination--img{
    display: none;
  }

  .destination{
    justify-content: center;
  }

  .footer--cta{
    padding: 100px;
  }

  .footer--cta h1{
    font-size: 28px;
  }

}

@media screen and (max-width: 600px) {
  .title--xl{
    font-size: 36px;
  }

  .title--lg{
    font-size: 28px;
  }

  .subtext {
    font-size: 14px;
    text-align: center;
  }

.hero-section{
  margin-top: 60px;
}

  .hero-section--images{
    flex-wrap: wrap;
  }

  .hero-section--images img{
    height: 284px;
  }
  .hero-section--images--container{
    align-items: center;
    flex-direction: column;
  }

  .destination--steps{
    gap: 20px;
    margin-top: 60px;
  }
  .destination--img{
  display: none;
}

.destination{
  justify-content: center;
  margin-top: 60px;
}

.pricing{
  margin-top: 60px;
}

.pricing--cards{
  flex-wrap: wrap;
}

.footer{
  margin-top: 60px;
}

.footer--cta{
  padding: 60px;
}
.footer--cta h1{
  font-size: 28px;
}

.footer--contact{
  flex-direction: column;
  gap: 30px;
  padding: 60px;
}

.pricing--price{
  font-size: 28px;
}
}


